* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: inherit;
}

*:focus {

}

body {
  background-color: darkgray;
}

label {
  font-size: 1.2rem;
}

select:focus {
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
}

.main-section {
  border-bottom: solid black;
}

.input-areas {
  width: 200px;
  padding: 5px;
  margin: 1px;
  font-weight: 600;
  border-radius: 5%;
}

.buttons {
  padding: 3px;
  font-weight: 600;
}

#control-divs {
  display: flex;
  width: 100vw;
  padding: 10px 0;
  justify-content: space-around;
  margin: 30px 0;
  border-bottom: solid thin black;
}

#menu-div {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-end;
  margin: 20px;
}

#menu-div div {
  margin: 3px;
}

.contents {
  display: flex;
  justify-content: space-between;
}

.client-divs {
  max-width: 60vw;
  margin: 25px 5px;
  padding: 15px;
  border: groove grey;
  background-color: rgba(133, 133, 133, 0.8);
}

/* .client-check {
  max-width: 10%;
} */

.client-expenses {
  width: 50px;
  padding: 3px;
  margin-left: 15px;
  color: black;
}

.aside-section {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  padding: 5px;
  margin: 10px 5px;
  border: solid thin tan;
  border-radius: 5%;
  width: fit-content;
  background-color: seashell;
  align-self: flex-start;
}

.icon {
  font-size: 2rem;
  color: rgb(88, 40, 6);
}

.count-bills {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  border: solid thin tan;
}

.count-bills div {
  border: solid thin lightgrey;
  text-align: start;
}

.menu-sections {
  display: inline-table;
  padding: 5px;
  margin: 5px;
  border: solid thin tan;
}

.menu-sections p {
  text-align: start;
  padding: 1px;
}
