* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgray;
}

label {
  font-size: 1.2rem;
}

select:focus {
  outline: none;
}

.main-section {
  border-bottom: solid black;
}

.input-areas {
  width: 200px;
  padding: 5px;
  margin: 1px;
  font-weight: 600;
}

.buttons {
  padding: 3px;
  font-weight: 600;
}

#control-divs {
  display: flex;
  width: 100vw;
  padding: 10px 0;
  justify-content: space-around;
  margin: 30px 0;
  border-bottom: solid thin black;
}

#menu-div {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-end;
  margin: 20px;
}

#menu-div div {
  margin: 3px;
}

.client-divs {
  max-width: 60vw;
  margin: 25px 5px;
  padding: 15px;
  border: groove grey;
  background-color: grey;
}

/* .client-check {
  max-width: 10%;
} */

.client-expenses {
  width: 50px;
  padding: 3px;
  margin-left: 15px;
  color: black;
}
