* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@300;400;600;700&display=swap");
}

a:visited {
    color: black;
}
a:active{
    color: white;
}
a:hover {
    background-color: #A49B83;
}

img.foto:hover {
    zoom: 171%;
    right: 10%;
    position: absolute;
}

body {
    background-image: url("../images/code-black-background-1366x768.jpg");
    background-size: cover;
    background-attachment: ;
    background-repeat: no-repeat;
    background-attachment: scroll;
    }

    /*Imagem alternativa p/ BG=> "https://besthqwallpapers.com/Uploads/8-2-2020/120808/thumb2-circuit-board-texture-blue-neon-digital-texture-technology-background-digital-art.jpg" <|||> "https://images.unsplash.com/photo-1607677686474-ad91fc94f5ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1528&q=80"*/

.text {
    background-color: 	#E6E6FA;
    padding-left: 10px;
    color: #26201F;
    font-family: 'Open Sans' , sans-serif;
    font-size: 1.3em;
    max-width: 75%;
    margin: auto;
    margin-top: 5%;
    border-radius: 3%;
    border: 5px groove #A49B83;   
}

.tag-list::before {
    content: "✔"; color: green; display: inline-block;  font-size: x-large;
}

.soft-div {
    max-width: 75%;
    
}
.tag-list {
    margin-left: 3%;
    padding: 15px;
    margin-right: 3%;
    display: inline-block;
    
}

img.foto {
    float: right;
    display: block;
    margin-right: 5%;
    width: 200px;
    border-radius: 5%;
    border: thin solid;
}

.terminal {
    text-align: center;
    margin-right: 50px;
    padding: 10px;
    margin-bottom: 3em;
}
.terminal img {
    float: left;
    margin: 10px;
    border-radius: 8%;
    border: double black;
}

.git {
    text-align: center;
    margin-left: 50px;
    padding: 10px;
    margin-bottom: 3em;
}
.git img {
    float: right;
    margin: 10px;
    border-radius: 8%;
    border: double black;
}

.html-css {
    text-align: center;
    margin-right: 50px;
    padding: 10px;
    margin-bottom: 8em;
}
.html-css img {
    float: left;
    margin: 10px;
    border-radius: 8%;
    border: double black;
}

h1 {
    padding-top: 50px;
    color: #4C5536;
    text-shadow: -1px 1px 3px #557860, 1px 1px 1px black;
    text-align: center;
    border-bottom: 3px groove #A49B83;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 230%;
}

h2 {
    padding: 10px;
    padding-top: 25px;
    padding-left: 20px;
    color: #4C5536;
    text-shadow: -1px 1px 3px #557860, 1px 1px 1px black;
    text-decoration: #54463E underline;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 170%;
}

#sumary {
    position: fixed;
    background-color: #557860;
    right: 0;
    left: 0;
    top: 0;
    box-shadow: 0 1px 1px black;
    border-bottom: black thin solid;
    
}

.head-sumary {
    
    border-style: double;
    border-color: black;
    box-shadow: 0 0 2px black, -1px -1px 1px #4C5536;
    font-size: 1.5rem;
    font-weight: 550;
    padding: 3px;
    float: left;
    margin: 3px;
    
}

#email {
    font-size: 1.5rem;
    float: right;
    padding: 5px;
    margin-right: 1%;
    font-weight: 700;
}

